.date-group{
    display: flex;
    background: #5d62f5;
    color: #fff;
    padding: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 80px;
    border-radius: 5px;
}