.card{
    display: flex;
    background-color: #dbedf5;
    justify-content: space-between;
    padding: 10px 20px;
    border: 1px solid #c0d8e3;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 20px;
}
.card:last-child{
    margin-bottom: 0;
}